<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mstyle.application" version="1.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>М-стайл</name>
    <description>
        М-стайл
    </description>
    <author email="idea@indev-group.ru" href="http://indev-group.ru">
        indev-group.ru
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.device" />

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="img/icon_a_bar/logoApp_01.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="img/icon_a_bar/drawable-ldpi/logoApp_01.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="img/icon_a_bar/drawable-mdpi/logoApp_01.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="img/icon_a_bar/drawable-hdpi/logoApp_01.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="img/icon_a_bar/drawable-xhdpi/logoApp_01.png" />
    <icon gap:platform="ios" height="57" src="img/icon_a_launch/drawable-hdpi/logoApp_01.png" width="57" />
    <icon gap:platform="ios" height="72" src="img/icon_a_launch/drawable-hdpi/logoApp_01.png" width="72" />
    <icon gap:platform="ios" height="114" src="img/icon_a_launch/drawable-xxhdpi/logoApp_01.png" width="114" />
    <icon gap:platform="ios" height="144" src="img/icon_a_launch/drawable-xxhdpi/logoApp_01.png" width="144" />

    <gap:splash src="img/sp_a/splash_a.png" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/sp_a/drawable-ldpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="img/sp_a/drawable-mdpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="img/sp_a/drawable-hdpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="img/sp_a/drawable-xhdpi/splash_a.png" />

	<gap:splash gap:platform="ios" height="480" src="img/sp_a/drawable-hdpi/splash_a.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="768" />

	<access origin="*" />
</widget>
