<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mstyle.application" version="1.0.18" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>М-стайл</name>
    <description>
        М-стайл
    </description>
    <author email="idea@indev-group.ru" href="http://indev-group.ru">
        indev-group.ru
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.device" />

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <icon src="res/icon.png" />

    <icon gap:platform="android" src="res/android/ldpi.png"  gap:qualifier="ldpi" />
    <icon gap:platform="android" src="res/android/mdpi.png"  gap:qualifier="mdpi" />
    <icon gap:platform="android" src="res/android/hdpi.png"  gap:qualifier="hdpi" />
    <icon gap:platform="android" src="res/android/xhdpi.png" gap:qualifier="xhdpi" />

    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon gap:platform="ios" src="res/ios/icon-60@3x.png"    width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon gap:platform="ios" src="res/ios/icon-60.png"       width="60"  height="60" />
    <icon gap:platform="ios" src="res/ios/icon-60@2x.png"    width="120" height="120" />
    <!-- iPad -->
    <icon gap:platform="ios" src="res/ios/icon-76.png"       width="76"  height="76" />
    <icon gap:platform="ios" src="res/ios/icon-76@2x.png"    width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon --> 
    <icon gap:platform="ios" src="res/ios/icon-40.png"       width="40"  height="40" />
    <icon gap:platform="ios" src="res/ios/icon-40@2x.png"    width="80"  height="80" />
    <!-- iPhone / iPod Touch -->
    <icon gap:platform="ios" src="res/ios/icon.png"          width="57"  height="57" />
    <icon gap:platform="ios" src="res/ios/icon@2x.png"       width="114" height="114" />
    <!-- iPad -->
    <icon gap:platform="ios" src="res/ios/icon-72.png"       width="72"  height="72" />
    <icon gap:platform="ios" src="res/ios/icon-72@2x.png"    width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon gap:platform="ios" src="res/ios/icon-small.png"    width="29"  height="29" />
    <icon gap:platform="ios" src="res/ios/icon-small@2x.png" width="58"  height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon gap:platform="ios" src="res/ios/icon-50.png"       width="50"  height="50" />
    <icon gap:platform="ios" src="res/ios/icon-50@2x.png"    width="100" height="100" />

    <gap:splash src="img/sp_a/splash_a.png" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/sp_a/drawable-ldpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="img/sp_a/drawable-mdpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="img/sp_a/drawable-hdpi/splash_a.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="img/sp_a/drawable-xhdpi/splash_a.png" />

    <gap:splash gap:platform="ios" height="480" src="img/sp_a/drawable-hdpi/splash_a.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="img/sp_a/drawable-xxhdpi/splash_a.png" width="768" />

    <access origin="*" />
</widget>
