body{
	font-family:Arial,Helvetica,sans-serif;
	background:#ffffff;
	-webkit-overflow-scrolling: touch;
	}
input {
    outline: none;
}
.ui-mobile,
.ui-mobile-viewport{
	padding:0;
	background:#ffffff;
	}
.ui-mobile .ui-shadow-inset,
.ui-mobile .ui-shadow{
	box-shadow:none;
	}
.ui-content{
	background:#ffffff;
	color:#000000;
	}
.ui-mobile [data-role="page"]{
	bottom:62px;
	z-index:1;
	}
.ui-overlay-b .ui-page-theme-b{
	background:#ffffff;
	color:#000000;
	}
html .ui-page-theme-b .main  .ui-btn{
	color:#000000;
	}
.ui-page-theme-b .ui-li-has-thumb{
	border-bottom: 1px solid #6DCAEC;
	margin:5px;
	padding:5px;
	}
html .ui-page-theme-b .ui-footer .ui-btn{
	color:#ffffff;
	}
.ui-header .ui-title img{
	height:1.5em;
	}
.ui-header.ui-bar-b{
	border-bottom:0;
	border-top:1px solid #000;
    height: 60px;
	}
	.ui-header.ui-fixed-hidden{
		padding:0;
		}
		.ui-header-fixed.ui-fixed-hidden .ui-btn-right{
			margin:1px 0 0 0;
			width:53px;
			}
html .ui-page-theme-b .ui-footer,
.ui-footer{
	height:64px;
	padding:0;
	bottom:0;
}
.ui-footer .ui-navbar{
	height:64px;
}
.ui-block-a,
.ui-grid-d > .ui-block-b,
.ui-grid-d > .ui-block-c,
.ui-grid-d > .ui-block-d,
.ui-grid-d > .ui-block-e,
.ui-grid-d > .ui-block-f{
	width:16.6%;
	}
.ui-navbar{
	display:table;
	width:100%;
	}
.ui-footer .ui-navbar a.ui-btn{
	display:table-cell;
	height:64px;
	padding:0;
	}
.ui-footer .ui-navbar a.ui-btn.bg-orange{
	background:url(../images/design/rss.png) center center no-repeat #ff8c2f;
	background-size:auto 100%;
	}
.ui-footer .ui-navbar a.ui-btn.bg-blue{
	background:url(../images/design/user.png) center center no-repeat #539cd1;
	background-size:auto 100%;
	}
.ui-footer .ui-navbar a.ui-btn.bg-gray{
	background:url(../images/design/media.png) center center no-repeat #404040;
	background-size:auto 100%;
	}
.ui-footer .ui-navbar a.ui-btn.bg-purple{
	background:url(../images/design/down.png) center center no-repeat #72507e;
	background-size:auto 100%;
	}
.ui-footer .ui-navbar a.ui-btn.bg-lightgray{
	background:url(../images/design/table.png) center center no-repeat #d9d9d9;
	background-size:auto 100%;
	}
.ui-footer .ui-navbar a.ui-btn.bg-green{
	background:url(../images/design/phone.png) center center no-repeat #6cca39;
	background-size:auto 100%;
	}

  .mytab {
    width: 16.6% !important;
    clear: none !important;
}

.ui-content {
display: none;
}

.ui-content1 {
border-width: 0;
overflow: visible;
overflow-x: hidden;
padding: 1em;
}

.main {
  display: block;
  clear:both;
}

.ui-panel {
  overflow-y: hidden;
}

.inside {
  overflow-y: scroll;
  padding:0 1em;
}
.ui-page-theme-b .light-theme .ui-listview .ui-body-inherit{
	color:#333;
	}
	.ui-content .ui-listview > .ui-li-static{
		padding:0;
		}
	.inside h1{
		color:#33B5E5;
		padding:0 0 0.4em 0;
		text-align:center;
		font-size:100%;
		border-bottom:1px solid #33B5E5;
		}
	.inside img{
		float:left;
		margin:1em 1em 1em 0.5em;
		}
	.inside p{
		margin:1em 0.5em;
		}

.header h1 {
  text-align:left;
  margin-left:15px;
}

.ui-popup-container{
	padding:1em 0 0 0;
	background:#ffffff;
	box-shadow:0 0 10px #000000;
	}
.ui-popup-screen{
	background-color: rgba(0, 0, 0, 0.1);
	}
.ui-popup{
	background:#ffffff;
	border:0 none;
	color:#000000;
	}
	#auth_dialog .ui-title{
		color:#33B5E5;
		padding:0 1em 0.8em 1em;
		border-bottom:1px solid #33B5E5;
		}
		#auth_form div.ui-input-text,
		.light-theme div.ui-input-text {
			margin-left:1em;
			margin-right:1em;
			border-bottom: 1px solid #33B5E5;
			position:relative;
			color:#333;
		}
		#register div.ui-input-text{
			margin-left:2em;
		}
		#auth_form div.ui-input-text:after,
		.light-theme div.ui-input-text:after{background-color: #33B5E5; position: absolute; bottom: -1px; left: -1px; height: 10px; width: 1px;}
		#auth_form div.ui-input-text:before,
		.light-theme div.ui-input-text:before{background-color: #33B5E5; position: absolute; bottom: -1px; right: -1px; height: 10px; width: 1px;}
		#auth_form div.ui-input-text.ui-focus,
		.light-theme div.ui-input-text.ui-focus{
			box-shadow:none;
			}
		#auth_form .inline-link{
            text-align:center;
			display:block;
			margin:0.5em 1em 1em 1em;
			}
		#auth_form .ui-navbar li,
		.ui-popup.warning-popup .ui-navbar li{
			display:table-cell;
			border-top:1px solid #c6c6c6;
			border-left:1px solid #c6c6c6;
			overflow:hidden;
			}
			#auth_form .ui-navbar li.ui-block-a,
			.ui-popup.warning-popup .ui-navbar li.ui-block-a{
				border-left:0;
				}
			.ui-popup.warning-popup .ui-grid-solo > .ui-block-a{
				display:block;
				}
		#auth_form .ui-navbar,
		.ui-popup.warning-popup .ui-navbar{
			border-collapse:collapse;
			}
		#auth_form .ui-btn,
		.ui-popup.warning-popup .ui-btn,
		.ui-popup.warning-popup .ui-btn.ui-link{
			border:0 none;
			color:#333;
			background:#ffffff;
			}
		#auth_form .ui-btn.ui-btn-active,
		.ui-popup.warning-popup .ui-btn.ui-btn-active{
			color:#ffffff;
			background: #33B5E5;
			}
	.ui-popup.warning-popup .ui-title{
		color:#333;
		padding:0 0 0.8em 0;
		margin:0 1em;
		border-bottom:1px solid #c6c6c6;
		}
	.ui-popup.warning-popup p{
		color:#333;
		margin:1em;
		text-align:center;
		}
	.color-red{
		color: red;
		display: inline-block;
		height: 16px;
		width: 16px;
		background: red;
		border-radius: 50%;
		margin: 0 auto;
		}
#register,
#register_form{
	padding:1em;
	}
	#register .ui-field-contain,
	#register_form .ui-field-contain{
		border:0;
		padding:0.3em 0;
		}
	#register_form .ui-field-contain > label{
		width:1em;
		float:left;
		margin:.7em 6px 0 0;
		}
	#register_form  div.ui-input-text{
		margin-left:2em;
		float:none;
		width:auto;
		}
	.ui-page-theme-b #register_form .ui-btn,
	.ui-page-theme-b .light-theme .ui-btn.center-btn{
		width:60%;
		color:#ffffff;
		margin:1em auto 0 auto;
		background-color: #282828;
		}
	.ui-page-theme-b #register_form .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear{
		width:32px;
		margin:0;
		top:0;
		}
	.ui-btn#reg_button,
	#doc_order .ui-btn#doc_button{
		background:#4bbde7;
		box-shadow:0 0 0 5px rgba(75,189,231,0.5);
		border-radius:4px;
		border-bottom:1px solid #46b0d7;
		padding: 0.4em;
		}
		#doc_order .ui-btn#doc_button:hover,
		#doc_order .ui-btn#doc_button:active{
			background:#0891c3;
			box-shadow:0 0 0 5px rgba(55,169,211,0.5);
			}
	.ui-btn#reg_button{
		width:60%;
		color:#000000;
		margin:1em auto 0 auto;
		}
html .ui-page-theme-b .main .ui-btn.light-btn,
html .ui-page-theme-b .main .ui-btn.light-btn:hover{
	text-align:center;
	color:#33B5E5;
	border-top:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	background:transparent;
	}
	html .ui-page-theme-b .main .ui-btn.grey-btn,
html .ui-page-theme-b .main .ui-btn.grey-btn:hover{
	text-align:center;
	background:#c6c6c6;
	}
	.right-doc-btn,
	button.ui-btn.right-doc-btn{
		float:right;
		width:auto;
		}
	.ui-header .header-more-btn{
		width:53px;
		height:53px;
		padding:0;
		border:0;
		display:block;
		}
		.header-more-btn img{
			width:100%;
			}
.separated-list > li,
.ui-page-theme-b .light-theme .ui-listview.separated-list .ui-body-inherit{
	border-top:1px solid #c6c6c6;
	clear:both;
	}
	.ui-page-theme-b .light-theme .ui-listview.separated-list .ui-first-child{
		border:0;
		}
.ui-page-theme-b .ui-listview.list-separated-blue .ui-body-inherit,
.ui-page-theme-b .ui-listview.list-separated-blue > li{
	padding:0.5em 1em;
	color:#333;
	border-top:1px solid #33B5E5;
	}
.ui-tabs{
	padding:0;
	}
	html head + body .ui-tabs-nav .ui-btn.ui-btn-a{
		color:#ffffff;
		border:0;
		border-bottom:3px solid #010101;
		background:#010101;
		text-shadow:none;
		padding: 0.7em 0;
		}
		html head + body .ui-tabs-nav .ui-btn.ui-btn-a.ui-btn-active{
		color:#ffffff;
		border:0;
		border-bottom:3px solid #33B5E5;
		background:#020202;
		text-shadow:none;
		box-shadow:none;
		}
		html head + body .ui-tabs-nav .ui-btn.ui-btn-a span{
			display:block;
			padding: 0 1em;
			}
			html head + body .ui-tabs-nav .ui-block-a .ui-btn.ui-btn-a span{
				border-right:1px solid #555555;
				}
#video,
#audio{
	padding:0;
	}
	#video .ui-listview .ui-li-has-thumb > img,
	#audio .ui-listview .ui-li-has-thumb > img{
		position:static;
		float:left;
		margin:0 1em 0 0;
		}
#call .inside{
	padding:0;
	text-align:center;
	}
	#call p{
		margin:0.5em 1em;
		line-height:1.1em;
		}
.blue-title{
	display:block;
	color:#ffffff;
	background:#4065b4;
	padding:.5em 1em;
	font-size:160%;
	line-height:1.2em;
	}
	.big-links-block{
		font-size:120%;
		line-height:2em;
        margin-bottom: 10px;
		}
		.big-links-block a{
			display:block;
			line-height: 120%;
			}
.circle-icon{
	display:inline-block;
	height:42px;
	width:42px;
	border:2px solid #33B5E5;
	padding:7px;
	margin:0 7px;
	border-radius:50% 50% 50% 50%;
	}
	.circle-icon > i{
		display:block;
		height:42px;
		width:42px;
		margin:0;
		line-height:42px;
		color:#ffffff;
		border-radius:50% 50% 50% 50%;
		background: #33B5E5;
		}
		.circle-icon > img{
			display:block;
			height:42px;
			width:42px;
			padding:0;
			margin:0;
			border-radius:50% 50% 50% 50%;
			}
	.circle-icon.blue{
		border:2px solid #4e759d;
		}
		.circle-icon.blue > i{
			background: #4e759d;
			}
	.circle-icon.lightblue{
		border:2px solid #39b9dc;
		}
		.circle-icon.lightblue > i{
			background: #39b9dc;
			}
	.circle-icon.fblue{
		border:2px solid #5273bb;
		}
		.circle-icon.fblue > i{
			background: #5273bb;
			}
	.circle-icon.red{
		border:2px solid #e85356;
		}
		.circle-icon.red > i{
			background: #e85356;
			}

#main_menu a {
    width: 16.6%;
}
video{
	width:100%;
	}
	.videocontrols{
		border-top:1px solid #33B5E5;
		padding:0.5em 1em;
		margin:1em 0 0 0;
		}
#slider2b{
	color:#333;
	}
	.video-control-btn{
		display:block;
		width:32px;
		height:32px;
		float:left;
		font-size:32px;
		color:#33B5E5;
		cursor:pointer;
		padding: 4px 0;
		}
		.video-control-btn .fa{
			display:block;
			width:32px;
			height:32px;
			margin:0 0 0 -4px;
			}
	.progress-bar{
		display:block;
		margin:0 0 0 48px;
		padding:1px 0;
		height:40px;
		position:relative;
		}
		.progress-bg{
			display:block;
			height:2px;
			margin:20px 0;
			background:#d9d9d9;
			}
			.progress-current{
				position:absolute;
				left:0;
				top:20px;
				height:4px;
				width:0%;
				background:#33B5E5;
				z-index:1;
				}
			.progress-marker{
				display:block;
				width:10px;
				height:10px;
				margin:-4px 0 0 -4px;
				position:absolute;
				left:0%;
				z-index:2;
				top:21px;
				background:#33B5E5;
				border-radius:50%;
				box-shadow:0 0 0 8px rgba(51,179,226,0.5);
				}
	.audio-control-btn{
		display:block;
		width:32px;
		height:32px;
		float:left;
		font-size:32px;
		padding:10px;
		margin:6px 0 0 0;
		color:#33B5E5;
		cursor:pointer;
		float:right;
		border:2px solid #33B5E5;
		background:#ffffff;
		border-radius:50%;
		}
		.audio-control-btn.playaudio{
			text-indent:3px;
			}
		.audio-control-btn.pauseaudio{
			text-indent:1px;
			}
		.ui-listview .audio-control-btn i,
		.ui-listview .fa{
			margin:0;
			display:block;
			height:32px;
			width:32px;
			}
			.fa.fa-play{
				background:url(../images/design/playpause.png) -10px -94px no-repeat;
				}
			.fa.fa-pause{
				background:url(../images/design/playpause.png) -10px -10px no-repeat;
				}
		.audio-item .progress-bar{
			margin:0 98px 0 12px;
			}
#one{
    padding-top: 62px;
    padding-bottom: 65px;
	min-height: 300px;
}
::-webkit-scrollbar{
    width: 0 !important;
}
#main_menu{
	padding:0 !important;
	}

#news img {
    max-width:91px;
    max-height:91px;
}
.ui-field-contain>label{
	width:24px;
	text-align:center;
	margin:0.7em -6px 0 6px;
	float:left;
	}

.center-cropped {
    width: 91px;
    height: 91px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;

    opacity: 0;
}
input[type="date"]:before {
    content: attr(placeholder);
    color: #aaa;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
    content: "";
}